<nav class="app-subnav app-hide-mobile">

  <h4>Side meu</h4>

  <ul class="app-subnav__section">
    <li class="app-subnav__section-item ">
      <a class="app-subnav__link govuk-link" href="/">Home</a>
    </li>
    <li class="app-subnav__section-item ">
      <a class="app-subnav__link govuk-link" href="/user/settings">User settings</a>
    </li>
    <li class="app-subnav__section-item ">
      <a class="app-subnav__link govuk-link" href="/company/details/123">Company details</a>
    </li>
    <li class="app-subnav__section-item ">
      <a class="app-subnav__link govuk-link" href="/company/create">Create company</a>
    </li>
  </ul>

</nav>

