{% from "navbar.njk" import addPredefinedNavbar %}

{{ addPredefinedNavbar(userEmailAddress, chsMonitorGuiUrl, lang) }}

<nav class="govuk-language-select" role="navigation" aria-label="{{lang.language_switcher}}">
    <ul class="govuk-language-select__list">
        {% if locale == "en" %}
            <li class="govuk-language-select__list-item">
                <span aria-current="true">English</span>
            </li>
        {% endif %}
        {% if locale !== "en" %}
            <li class="govuk-language-select__list-item">
                <a href="{{addLangToUrl(ENGLISH)}}" lang="en" rel="alternate" class="govuk-link">
                    <span class="govuk-visually-hidden">Change the language to English</span>
                    <span aria-hidden="true">English</span>
                </a>
            </li>
        {% endif %}
        {% if locale == "cy" %}
            <li class="govuk-language-select__list-item">
                <span aria-current="true">Cymraeg</span>
            </li>
        {% endif %}
        {% if locale !== "cy" %}
            <li class="govuk-language-select__list-item">
                <a href="{{addLangToUrl(WELSH)}}" lang="cy" rel="alternate" class="govuk-link">
                    <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
                    <span aria-hidden="true">Cymraeg</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>