<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="js-toggle-nav" id="global-nav">
            <a id="user-signin-mobile" href="/signin" class="sign-in govuk-link">Sign in / Register</a>

            <nav role="navigation" class="content mobile-hidden">
                <ul id="navigation" class="mobile-hidden">
                    <li id="signed-in-user" class="user">
                        {# here comes logic providing {{ userEmailAddress }} #}
                    </li>
                    <li class="your-companies">
                        <a class="govuk-link" id="user-signout" href="/your-companies">Your companies</a>
                    </li>
                    <li class="your-filings">
                        <a class="govuk-link" id="user-signout" href="/your-filings">Your filings</a>
                    </li>
                    <li class="companies-you-follow">
                        <a class="govuk-link" id="user-signout" href="">Companies you follow</a>
                    </li>
                    <li class="basket">
                        <a class="govuk-link" id="user-signout" href="">Basket</a>
                    </li>

                    <!-- Note: GOV.UK One Login uses Security instead of 'Your details' in Webfiling its "Manage account"-->
                    <li class="your-details">
                        <a class="govuk-link" id="user-signout" href="chs-one-login-settings">Manage account</a>
                    </li>

                    <li class="authenticated">
                        <a class="govuk-link" id="user-signout" href="/signout">Sign out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<nav class="govuk-language-select" aria-label="Language switcher">
    <ul class="govuk-language-select__list">
        {% if lang == "en" %}
            <li class="govuk-language-select__list-item">
                <span aria-current="true">English</span>
            </li>
        {% endif %}
        {% if lang !== "en" %}
            <li class="govuk-language-select__list-item">
                <a href="?lang=en" lang="en" rel="alternate" class="govuk-link">
                    <span class="govuk-visually-hidden">Change the language to English</span>
                    <span aria-hidden="true">English</span>
                </a>
            </li>
        {% endif %}
        {% if lang == "cy" %}
            <li class="govuk-language-select__list-item">
                <span aria-current="true">Cymraeg</span>
            </li>
        {% endif %}
        {% if lang !== "cy" %}
            <li class="govuk-language-select__list-item">
                <a href="?lang=cy" lang="cy" rel="alternate" class="govuk-link">
                    <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
                    <span aria-hidden="true">Cymraeg</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>