<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="js-toggle-nav" id="global-nav">
            <nav role="navigation" class="content" aria-label="{{lang.main_nav_bar}}">
                {% if userEmailAddress %}
                    <a href="#navigation" class="js-header-toggle menu">{{ userEmailAddress }}
                        <span class="govuk-visually-hidden">{{lang.click_to_expand_or_collaps}}</span>
                    </a>
                {% else %}
                    <a id="user-signin-mobile" href="/signin" class="sign-in govuk-link">Sign in / Register</a>
                {% endif %}

                <ul id="navigation">
                    <li id="signed-in-user" class="user">
                        {{ userEmailAddress }}:
                    </li>
                    <li class="your-companies">
                        <a class="govuk-link" id="your-companies" href="/your-companies">{{lang.your_companies_header}}</a>
                    </li>
                    <li class="your-filings">
                        <a class="govuk-link" id="your-filings" href="/user/transactions">{{lang.your_filings_header}}</a>
                    </li>
                    <li class="companies-you-follow">
                        <a class="govuk-link" id="companies-you-follow" href="{{ chsMonitorGuiUrl }}">{{lang.companies_you_follow_header}}</a>
                    </li>
                    <li class="basket">
                        <a class="govuk-link" id="basket" href="/basket">{{lang.basket_header}}</a>
                    </li>

                    <!-- Note: GOV.UK One Login uses Security instead of 'Your details' in Webfiling its "Manage account"-->
                    <li class="your-details">
                        <a class="govuk-link" id="your-details" href="/user/account">{{lang.manage_account_header}}</a>
                    </li>

                    <li class="authenticated">
                        <a class="govuk-link" id="user-signout" href="/signout">{{lang.sign_out_header}}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<nav class="govuk-language-select" role="navigation" aria-label="{{lang.language_switcher}}">
    <ul class="govuk-language-select__list">
        {% if locale == "en" %}
            <li class="govuk-language-select__list-item">
                <span aria-current="true">English</span>
            </li>
        {% endif %}
        {% if locale !== "en" %}
            <li class="govuk-language-select__list-item">
                <a href="{{addLangToUrl(ENGLISH)}}" lang="en" rel="alternate" class="govuk-link">
                    <span class="govuk-visually-hidden">Change the language to English</span>
                    <span aria-hidden="true">English</span>
                </a>
            </li>
        {% endif %}
        {% if locale == "cy" %}
            <li class="govuk-language-select__list-item">
                <span aria-current="true">Cymraeg</span>
            </li>
        {% endif %}
        {% if locale !== "cy" %}
            <li class="govuk-language-select__list-item">
                <a href="{{addLangToUrl(WELSH)}}" lang="cy" rel="alternate" class="govuk-link">
                    <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
                    <span aria-hidden="true">Cymraeg</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>