{% extends "layouts/default.njk" %}

{% block main_content %}

  <div class="generic-class-name">
    <h3>Company Router: Company details page</h3>
    <p>{{ sampleKey }}</p>
  </div>

{% endblock %}
