$govuk-global-styles: true;

@import "node_modules/govuk-frontend/govuk/all";

html {
  font-family: arial;
}
body {
  .govuk-header__logo {
    width: 35%;
  }
  .govuk-header__content {
    width: 65%;
  }
}

form {
  fieldset {
    border: 0;
  }
}

