{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% extends "layouts/default.njk" %}

{% block back_link %}

    {{ govukBackLink({text: lang.back_link, href: backLinkHref}) }}

{% endblock %}

{% block main_content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        {% set html %}
            <p class="govuk-notification-banner__heading">
          FLOWERS LIMITED has been added to your account.
          <a href="company-added" class="govuk-link">View your companies</a>.
          </p>
          
        {% endset %}

        {{ govukNotificationBanner({
        html: html,
        type: "success"
        }) }}


        </div>
    </div>

{% endblock %}