{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends
"layouts/default.njk" %}

{% block beforeMainContent %}
    {% block backLink %}
    {% include "partials/back_link.njk" %}
    {% endblock %} 
{% endblock %}

{% block main_content %}

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
            {{ confirm_this_is_the_correct_company }}
        </h1>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: company_name
      },
      value: {
        text: companyName
      }
    },
    {
      key: {
        text: company_number
      },
      value: {
        text: companyNumber
      }
    },
    {
      key: {
        text: status
      },
      value: {
        text: companyStatus
      }
    },
    {
      key: {
        text: incorporation_date 
      },
      value: {
        html: dateOfCreation
      }
    },
    {
      key: {
        text: company_type
      },
      value: {
        text: type
      }
    },
    {
      key: {
        text: registered_office_address
      },
      value: {
        html: registeredOfficeAddress
      }
    }
  ]
}) }}

{{ govukButton({
  text: confirm_and_continue
}) }}

        <p class="govuk-body">
            <a href={{backLinkUrl}} class="govuk-link">{{ choose_a_different_company }}</a>.
        </p>
    </div>
{% endblock %}
