{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="border-box">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-m">{{ you_have_not_added_any_companies }}</h1>
            <p class="govuk-body">{{ add_a_company_to_your_account }}</p>
            <ul class="govuk-list govuk-list--bullet">
                {% for item in bullet_list %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>

            {{ govukButton({text: add_a_company, href: buttonHref}) }}
        </div>
    </div>
</div>