{% extends "layouts/default.njk" %}

{% block main_content %}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">{{ header }}</h1>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {% if userHasCompanies == "true" %}
        {# TODO: The content will be added as part of IDVA6-337 #}
    {% else %}
        {% include 'router_views/your_companies/no_companies_added.njk' %}
    {% endif %}

{% endblock %}