{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% extends "layouts/default.njk" %}

{% set title = lang.title_company_invitations_start + pageNumber + lang.title_company_invitations_middle + numberOfPages + lang.title_company_invitations_finish if pagination and pagination.items | length else 
    lang.title_company_invitations %}

{% block back_link %}
    {% include "partials/back_link.njk" %}
{% endblock %}

{% block main_content %}

    {% set acceptHeader %}
    <span class="govuk-visually-hidden">{{lang.accept_an_invitation}}</span>
    {% endset %}

    {% set declineHeader %}
    <span class="govuk-visually-hidden">{{lang.decline_an_invitation}}</span>
    {% endset %}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ lang.h1 }}</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            {% if rowsData | length %}
                {{ govukTable({
                        caption: lang.invitations_to_be_digitally_authorised,
                        captionClasses: "govuk-table__caption--m govuk-visually-hidden",
                        firstCellIsHeader: true,
                        head: [
                            {
                                text: lang.company_name
                            },
                            {
                                text: lang.company_number
                            },
                            {
                                text: lang.invited_by
                            },
                            {
                                html: acceptHeader
                            },
                            {
                                html: declineHeader
                            }
                        ],
                        rows: rowsData
                    })
                }}

                {% if pagination and pagination.items | length %}
                    {{ govukPagination(pagination) }}
                {% endif %}
            {% else %}
                <p class="govuk-body govuk-!-padding-top-5">{{lang.no_pending_invitations}}</p>
            {% endif %}
        </div>
    </div>

    <script>
        window.addEventListener('focus', () => {
            location.reload();
        });

        trackEvent("back-link-to-previous-page", "{{lang.title}}", "{{matomoLinkClick}}", "{{matomoBackLink}}");

        let acceptIdText = "{{ acceptIds }}";
        let declineIdText = "{{ declineIds }}";

        if (acceptIdText.length > 0) {
            let acceptIdArray = acceptIdText.split(",");
            let declineIdArray = declineIdText.split(",");

            for (let i in acceptIdArray) {
                let subVarI = acceptIdArray[i]
                trackEvent(subVarI, "{{lang.title}}", "{{matomoLinkClick}}", "{{matomoAcceptAuthorisedUserInvitationLink}}");
            }

            for (let j in declineIdArray) {
                let subVarJ = declineIdArray[j]
                trackEvent(subVarJ, "{{lang.title}}", "{{matomoLinkClick}}", "{{matomoDeclineAuthorisedUserInvitationLink}}");
            }

            trackEvent("back-link-to-previous-page", "{{lang.title}}", "{{matomoLinkClick}}", "{{matomoBackLink}}");
        }
    </script>

{% endblock %}