{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/default.njk" %}

{% block main_content %}
    {% set html %}
    <p class="govuk-notification-banner__heading">
        {{lang.you_have_accepted}}{{companyName}}.
    </p>
    {% endset %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukNotificationBanner({
                    html: html,
                    titleText: lang.success,
                    type: "success"
                })
            }}

            <h1 class="govuk-heading-l">{{lang.what_happens_now}}</h1>

            <p>{{lang.you_can_now}}</p>
            <ul class="govuk-list govuk-list--bullet">
                {% for item in lang.bullet_list %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>

            <p>{{ lang.weve_sent_an_email_to_the_company}}</p>

            {{ govukButton({
                text: lang.view_your_companies,
                href: yourCompaniesUrl, attributes: {
                id: "view-your-companies-button",
                "data-event-id": "view-your-companies-button-event"
                    }
            }) }}
        </div>
    </div>

    <script>
        trackEvent("view-your-companies-button", "{{lang.title}}", "{{matomoButtonClick}}", "{{matomoViewYourCompaniesLink}}");
    </script>

{% endblock %}