{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "layouts/default.njk" %}

{% block back_link %}

    <div role="navigation" aria-label="{{lang.link_back_to_previous_page}}">
        {{ govukBackLink({text: lang.back_to_your_companies, href: backLinkHref }) }}
    </div>

{% endblock %}
{% block main_content %}

    {% set acceptHeader %}
    <span class="govuk-visually-hidden">{{lang.accept_an_invitation}}</span>
    {% endset %}

    {% set declineHeader %}
    <span class="govuk-visually-hidden">{{lang.decline_an_invitation}}</span>
    {% endset %}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ lang.h1 }}</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            {{ govukTable({
                    caption: lang.invitations_to_be_digitally_authorised,
                    captionClasses: "govuk-table__caption--m govuk-visually-hidden",
                    firstCellIsHeader: true,
                    head: [
                        {
                            text: lang.company_name
                        },
                        {
                            text: lang.company_number
                        },
                        {
                            text: lang.invited_by
                        },
                        {
                            html: acceptHeader
                        },
                        {
                            html: declineHeader
                        }
                    ],
                    rows: rowsData
                })
            }}
        </div>
    </div>

{% endblock %}