{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/default.njk" %}

{% block main_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukNotificationBanner({
                type: "success",
                titleText: "Success",
                html: '<p class="govuk-notification-banner__heading">You have removed ' + companyName + '.</p>'
            }) }}

            <span class="govuk-caption-l">{{ companyName + " (" + companyNumber + ")" }}</span>
            <h1 class="govuk-heading-l">What happens now you've removed this company</h1>
            <p class="govuk-body">You are no longer able to file online for this company without a current authentication code. We've sent an email to the company's registered email address and to any other people who are authorised to let them know.</p>

            <div class="govuk-button-group govuk-!-padding-top-3">
                {{ govukButton({
                    text: "Go to your companies",
                    href: "company-added",
                    classes: "govuk-button",
                    attributes: {
                        "data-module": "govuk-button"
                    }
                }) }}
            </div>
        </div>
    </div>
{% endblock %}