{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% extends "layouts/default.njk" %}

{% block main_content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds"></div>
    </div>

{% endblock %}