{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "macros/link.njk" import prepareHref %}
{% from "macros/providedTextOrDefault.njk" import providedTextOrDefault %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{% extends "layouts/default.njk" %}

{% set message = null %}

{% for key, value in errors %}
    {% if key == "searchEmail" %}
        {% set message = lang[value.text] %}
    {% endif %}
{% endfor %}

{% if companyAssociations and companyAssociations.items %}
    {% set company_association = companyAssociations.items | first %}
{% else %}
    {% set company_association = null %}
{% endif %}

{% if pagination and pagination.items | length %}
    {% set title = lang.title_manage_authorised_people_start + " " + lang.title_page + pageNumber + lang.title_of + numberOfPages + ")" + lang.title_manage_authorised_people_finish %}
{% else %}
    {% set title = lang.title_manage_authorised_people %}
{% endif %}

{% block back_link %}

    <div role="navigation" aria-label="{{lang.back_to_your_companies}}">
        {{ govukBackLink({text: lang.back_to_your_companies, href: backLinkHref, attributes: {
                id: "back-link-to-your-companies-page",
                "data-event-id": "back-link-to-previous-page"
            } }) }}
    </div>

{% endblock %}

{% block main_content %}
    {%include "partials/others_digital_auth_banner.njk"%}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">{{companyName}} ({{companyNumber}})</span>
                {{lang.people_digitally_authorised_to_file_online}}
            </h1>
            {{ govukInsetText({
                    text: lang.anyone_with_access_to_the_current_authentication
                })
            }}
            {{ govukButton({
            text: lang.add_new_authorised_person, 
            href: buttonHref, 
            attributes: {
                id: "add-new-authorised-person-button",
                "data-event-id": "add-new-authorised-person-button"
                } 
            }) }}
        </div>
    </div>

    {% set formClasses = "govuk-form-group govuk-form-group--error" if message else "govuk-form-group" %}
    {% set inputClasses = "govuk-input govuk-input--error govuk-!-margin-right-1 govuk-input--width-20" if message else "govuk-input govuk-input--width-20 govuk-!-margin-right-1" %}

    <form method="post" action="{{manageAuthorisedPeopleUrl}}" novalidate>
        {% include "partials/csrf_token.njk" %}
        <div class="{{formClasses}}">
            <label class="govuk-label govuk-label--m" for="search">
                {{lang.search_for_an_authorised_person}}
            </label>
            <div id="event-name-hint" class="govuk-hint">
                {{lang.enter_an_email_address}}
            </div>
            {% if message %}
                {{ govukErrorMessage({
                            text: message
                        })
                    }}
            {% endif %}
            <div id="search-input-group">
                <input class="{{inputClasses}}" id="search" name="searchEmail" type="email" aria-describedby="event-name-hint" value="{{searchEmail}}">
                <button type="submit" name="action" value="trySearch" class="govuk-button govuk-button--secondary" role="button" data-module="govuk-button" aria-label="{{lang.search}}" data-event-id="your-companies-search-for-company-button" id="your-companies-search-for-company-button">{{lang.search}}
                </button>
                {% if searchEmail != null %}
                    <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19  govuk-!-margin-left-2" href="{{cancelSearchHref}}" id="manage-users-cancel-search-link" data-event-id="manage-users-cancel-search-link">{{lang.cancel_search}}</a>
                {% endif %}
            </div>
        </div>
    </form>

    {% if validSearch %}
        {% if not resultsFound %}
            <h2 class="govuk-heading-s">{{lang.no_results_found}} '{{searchEmail}}'</h2>
            <p class="govuk-body">{{lang.no_results_that_match}}</p>
        {% else %}
            <h2 class="govuk-heading-s">
                {{lang.match_found_for}} '{{searchEmail}}'</h2>
        {% endif %}
    {% endif %}

    {% if validSearch == false or resultsFound == true %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">

                <h2 class="govuk-heading-m govuk-!-margin-top-4">{{lang.details_of_authorised_people}}</h2>

                {% for association in companyAssociations.items %}
                    {% set userEmail = association.userEmail %}
                    {% set defaultDisplayName = lang.not_provided %}
                    {% set displayNameText =  providedTextOrDefault(association.displayName, defaultDisplayName, notProvided)%}
                    {% set removeHref = prepareHref(removeUrl, {
                        associationId: association.id,
                        companyNumber: association.companyNumber
                    }) | trim %}

                    {% if association.status === confirmed %}
                        {% set tag = govukTag({text: lang.authorised, classes: "govuk-tag--green"}) %}
                        {% set removeLinkVisuallyHiddenText = " " %}

                        {{ govukSummaryList({
                    card: {
                        title: {
                            text: userEmail
                        },
                        actions: {
                            items: [
                                {
                                    href: removeHref,
                                    text: lang.remove,
                                    visuallyHiddenText: removeLinkVisuallyHiddenText,
                                    attributes:
                                    {
                                        "data-event-id": "remove-authorised-person"
                                    }
                                }
                            ]
                        }
                    },
                    rows: [
                        {
                        key: {
                            text: lang.name
                        },
                        value: {
                            html: displayNameText
                        }
                        },
                        {
                        key: {
                            text: lang.digital_authorisation_status
                        },
                        value: {
                            html: tag
                        }
                        }
                    ]
                    }) }}
                    {% endif %}

                    {% if association.status === "awaiting-approval" %}

                        {% set resendEmailLinkVisuallyHiddenText = lang.to + " " %}

                        {% set resendHref = prepareHref(resendEmailUrl, {userEmail: userEmail}) | trim %}

                        {% set awaitingConfirmation %}
                        <div class="govuk-!-padding-bottom-2">
                            <strong class="govuk-tag govuk-tag--yellow">{{lang.awaiting_confirmation }}</strong>
                        </div>
                        {% endset %}

                        {% set cancelLinkVisuallyHiddenText = " " %}

                        {{ govukSummaryList({
                        card: {
                            title: {
                                text: userEmail
                            },
                            actions: {
                                items: [
                                {
                                    href: removeHref,
                                    text: lang.cancel,
                                    visuallyHiddenText: cancelLinkVisuallyHiddenText,
                                    attributes:
                                        {
                                            "data-event-id": "cancel-authorised-person"
                                        }
                                }
                                ]
                            }
                        },
                        rows: [
                            {
                            key: {
                                text: lang.name
                            },
                            value: {
                                html: displayNameText
                            }
                            },
                            {
                            key: {
                                text: lang.digital_authorisation_status
                            },
                            value: {
                                html: awaitingConfirmation
                            },
                            actions: {
                                items: [
                                {
                                    href: resendHref,
                                    text: lang.resend_email,
                                    visuallyHiddenText: resendEmailLinkVisuallyHiddenText,
                                    attributes:
                                        {
                                            "data-event-id": "resend-invite-email"
                                        }
                                }
                                ]
                            }
                        ]}
                    }) }}

                    {% endif %}

                    {% if association.status === "migrated" %}

                        {% set migratedText %}
                        <div class="govuk-!-padding-bottom-2">
                            <strong class="govuk-tag govuk-tag--red">{{lang.not_authorised }}</strong>
                        </div>
                        {% endset %}

                        {% set visuallyHiddenRestoreText = lang.for %}
                        {% set restoreDigitalAuthUrl = restoreDigitalAuthBaseUrl + "/" + association.id %}

                        {% set visuallyHiddenRemoveNotRestoreText = lang.digital_authorisation_for %}

                        {{ govukSummaryList({
                        card: {
                            title: {
                                text: userEmail
                            },
                            actions: {
                                items: [
                                {
                                    href: removeHref,
                                    text: lang.remove,
                                    visuallyHiddenText: visuallyHiddenRemoveNotRestoreText,
                                    attributes:
                                        {
                                            "data-event-id": "remove-do-not-restore-digital-authorisation"
                                        }
                                }
                                ]
                            }
                        },
                        rows: [
                            {
                            key: {
                                text: lang.name
                            },
                            value: {
                                html: displayNameText
                            }
                            },
                            {
                            key: {
                                text: lang.digital_authorisation_status
                            },
                            value: {
                                html: migratedText
                            },
                            actions: {
                                items: [
                                    {
                                        href: restoreDigitalAuthUrl,
                                        text: lang.restore_authorisation,
                                        visuallyHiddenText: visuallyHiddenRestoreText
                                    }
                                    ]
                                }
                            }
                        ]
                            }) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-padding-top-2">
            <div class="govuk-grid-column-three-quarters">

                {% if pagination and pagination.items | length %}
                    {{ govukPagination(pagination) }}
                {% endif %}
            </div>
        </div>

    {% endif %}

    <script nonce={{ nonce | dump | safe }}>
        trackGoal("add-new-authorised-person-button", {{matomoAddNewAuthorisedPersonGoalId}});
    </script>
{% endblock %}