{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "macros/link.njk" import link %}
{% from "macros/providedTextOrDefault.njk" import providedTextOrDefault %}

{% extends "layouts/default.njk" %}

{% block back_link %}

    <div role="navigation" aria-label="{{lang.link_back_to_previous_page}}">
        {{ govukBackLink({text: lang.back_to_your_companies, href: backLinkHref }) }}
    </div>

{% endblock %}

{% block main_content %}

    {% set company_association = companyAssociations.items | first %}

    {% if cancelledPerson %}
        {% set successHtml %}
        <h3 class="govuk-notification-banner__heading">{{lang.digital_authorisation_cancelled}}</h3>
        <p class="govuk-body">
            {{lang.you_have_successfully_cancelled_digital_authorisation_start}}
            <span class="govuk-body govuk-!-font-weight-bold">{{cancelledPerson}}</span>
            {{lang.you_have_successfully_cancelled_digital_authorisation_end}}
            {{company_association.companyName}}
        </p>
        <p class="govuk-body">{{lang.weve_sent_an_email_to_the_company}}</p>
        {% endset %}
        <div class="govuk-grid-column-two-thirds">
            {{
                govukNotificationBanner({
                    html: successHtml,
                    type: "success",
                    titleText: lang.success
                })
            }}
        </div>
    {% endif %}

       {% if authorisedPersonSuccess %}
        {% set successHtml %}
        <h3 class="govuk-notification-banner__heading">{{lang.authorised_person_success_heading}}</h3>
        <p class="govuk-body">
            {{lang.authorised_person_success_msg1}}
            {{authorisedPersonEmailAddress}}
            {{lang.authorised_person_success_msg2}}
            {{authorisedPersonCompanyName}}.
        </p>
        {% endset %}
        <div class="govuk-grid-column-two-thirds">
            {{
                govukNotificationBanner({
                    html: successHtml,
                    type: "success",
                    titleText: lang.success
                })
            }}
        </div>
    {% endif %}
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">{{company_association.companyName + " (" + company_association.companyNumber + ")"}}</span>
                {{lang.people_digitally_authorised_to_file_online}}
            </h1>
            {{ govukInsetText({
                    text: lang.anyone_with_access_to_the_current_authentication
                })
            }}
            {{ govukButton({text: lang.add_new_authorised_person, href: buttonHref}) }}
        </div>
    </div>

    {% set rows = [] %}
    {% for association in companyAssociations.items %}
        {% set row = [] %}
        {% set row = (row.push({text: association.userEmail}), row) %}
        {% set defaultDisplayName = lang.not_provided if association.displayName and association.displayName === notProvided else 
            "" %}
        {% set row = (row.push({
            text: providedTextOrDefault(association.displayName, defaultDisplayName, notProvided)
        }), row) %}
        {% if association.status === confirmed %}
            {% set tag = govukTag({text: lang.confirmed.toUpperCase(), classes: "govuk-tag--green"}) %}
            {% set row = (row.push({html: tag}), row) %}
            {% set removeLinkAriaLabelText = lang.link_to_remove_user_from_digitaly_authorised_start + association.userEmail + lang.link_to_remove_user_from_digitaly_authorised_end + association.companyName %}
            {% set removeLink = link(lang.remove, removeLinkAriaLabelText, removeUrl, {
                userEmail: association.userEmail,
                companyNumber: association.companyNumber
            }) %}
            {% set row = (row.push({html: removeLink}), row) %}
            {% set row = (row.push({text: ""}), row) %}
        {% else %}
            {% set awaitingConfirmationText %}
            <span class="white-space-pre">{{lang.awaiting_confirmation}}</span>
            {% endset %}
            {% set tag = govukTag({html: awaitingConfirmationText, classes: "govuk-tag--yellow"}) %}
            {% set row = (row.push({html: tag}), row) %}
            {% set cancelLinkAriaLabelText = lang.link_to_cancel_authorisation_for + association.userEmail %}
            {% set cancelLink = link(lang.cancel, cancelLinkAriaLabelText, cancelUrl, {userEmail: association.userEmail})%}
            {% set row = (row.push({html: cancelLink}), row) %}
            {% set resendEmailLinkAriaLabelText = lang.link_to_resend_email_with_authorisation_request_for + association.userEmail %}
            {% set resendEmailLink = link(lang.resend_email, resendEmailLinkAriaLabelText, resendEmailUrl, {userEmail: association.userEmail})%}
            {% set row = (row.push({html: resendEmailLink}), row) %}
        {% endif %}
        {% set rows = (rows.push(row), rows) %}
    {% endfor %}

    <div class="govuk-grid-row govuk-!-padding-top-3">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-table__caption--m">{{lang.details_of_authorised_people}}</h2>
            {{ govukTable({
                    caption: lang.details_of_authorised_people,
                    captionClasses: "govuk-table__caption--m govuk-visually-hidden",
                    firstCellIsHeader: true,
                    head: [
                        {
                            text: lang.email_address
                        },
                        {
                            text: lang.name
                        },
                        {
                            text: lang.status
                        },
                        {
                            text: ""
                        },
                        {
                            text: ""
                        }
                    ],
                    rows: rows
                })
            }}
        </div>
    </div>

{% endblock %}