{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="border-box">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">{{ lang.you_have_not_added_any_companies }}</h2>
            <p class="govuk-body">{{ lang.add_a_company_to_your_account }}</p>
            <ul class="govuk-list govuk-list--bullet">
                {% for item in lang.bullet_list %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>

            {{ govukButton({text: lang.add_a_company, href: buttonHref,
                    attributes: {
                        id: "add-a-company-button",
                        "data-event-id": "add-a-company-button",
                        "onclick": "_paq.push(['trackGoal', '" + matomoAddCompanyGoalId + "'])"
                    }
                })
            }}
        </div>
    </div>
</div>