{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "macros/link.njk" import linkWithHiddenText %}

{% set rowsData = [] %}
{% for elem in associationData %}
    {% set rowElem = [] %}
    {% set rowElem = (rowElem.push(elem | first), rowElem) %}
    {% set rowElem = (rowElem.push(elem | last), rowElem) %}
    {% set company_number = elem | last %}
    {% set params = {
        companyNumber: company_number.text
    } %}
    {% set company_name = elem | first %}
    {% set visuallyHiddenText = company_name.text %}
    {% set view_and_manage_link = linkWithHiddenText(lang.view_and_manage, visuallyHiddenText, viewAndManageUrl, params) %}
    {% set rowElem = (rowElem.push({html: view_and_manage_link}), rowElem) %}
    {% set rowsData = (rowsData.push(rowElem), rowsData) %}
{% endfor %}

{% set message = null %}

{% for key, value in errors %}
    {% if key == "search" %}
        {% set message = lang[value.text] %}
        {% set title = lang.title_error + lang.title %}
    {% endif %}
{% endfor %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{ govukButton({text: lang.add_a_company, href: buttonHref}) }}

        {% if displaySearchForm %}
            {% set formClasses = "govuk-form-group govuk-form-group--error" if message else "govuk-form-group" %}
            {% set inputClasses = "govuk-input govuk-input--error govuk-input--width-10 govuk-!-margin-top-2" if message else "govuk-input govuk-input--width-10 govuk-!-margin-top-2" %}

            <form method="post">
                <div class="{{formClasses}}">
                    <label class="govuk-label govuk-label--m" for="search">
                        {{lang.search_for_a_company}}
                    </label>
                    <div id="event-name-hint" class="govuk-hint">
                        {{lang.enter_company_num}}
                    </div>
                    {% if message %}
                        {{ govukErrorMessage({
                            text: message
                        })
                    }}
                    {% endif %}
                    <input class="{{inputClasses}}" id="search" name="search" type="text" aria-describedby="event-name-hint" value="{{search}}">
                    <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-top-2 govuk-!-margin-bottom-0" role="button" data-module="govuk-button" aria-label="{{lang.search}}">
                        {{lang.search}}
                    </button>
                </div>
            </form>

        {% endif %}

        {% if showNumOfMatches %}
            {% if numOfMatches == 0 %}
                <h2 class="govuk-heading-s">{{lang.no_results_found}} '{{search}}'</h2>

                <p class="govuk-body">{{lang.no_results_that_match}}</p>

            {% elif numOfMatches == 1 %}
                <h2 class="govuk-heading-s">{{numOfMatches}}
                    {{lang.match_found_for}} '{{search}}'</h2>
            {% else %}
                <h2 class="govuk-heading-s">{{numOfMatches}}
                    {{lang.matches_found_for}} '{{search}}'</h2>
            {% endif %}
        {% endif %}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        {% if numOfMatches > 0 %}
            {{ govukTable({
                    caption: lang.table_of_companies_you_are_digitally_autorised_to_file_for,
                    captionClasses: "govuk-table__caption--m govuk-visually-hidden",
                    firstCellIsHeader: true,
                    head: [
                        {
                            text: lang.company_name
                        },
                        {
                            text: lang.company_number
                        },
                        {
                            text: lang.people_digitally_authorised_to_file_online
                        }
                    ],
                    rows: rowsData
                })
            }}
        {% endif %}

        {% if pagination and pagination.items | length %}
            {{ govukPagination(pagination) }}
        {% endif %}

    </div>
</div>