{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% from "macros/link.njk" import link %}

{% set rowsData = [] %}
{% for elem in associationData %}
    {% set rowElem = [] %}
    {% set rowElem = (rowElem.push(elem | first), rowElem) %}
    {% set rowElem = (rowElem.push(elem | last), rowElem) %}
    {% set company_number = elem | last %}
    {% set params = {
        companyNumber: company_number.text
    } %}
    {% set viewAndManageLinkAriaLabelText = lang.link_to_view_and_manage %}
    {% set view_and_manage_link = link(lang.view_and_manage, viewAndManageLinkAriaLabelText, viewAndManageUrl, params) %}
    {% set rowElem = (rowElem.push({html: view_and_manage_link}), rowElem) %}
    {% set rowsData = (rowsData.push(rowElem), rowsData) %}
{% endfor %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{ govukButton({text: lang.add_a_company, href: buttonHref}) }}

        {% if displaySearchForm %}

            <form method="post">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="search">
                            {{lang.search_for_a_company}}
                        </label>
                        <div id="event-name-hint" class="govuk-hint">
                            {{lang.enter_company_num}}
                        </div>
                        <input class="govuk-input govuk-input--width-10" id="search" name="search" type="text" aria-describedby="event-name-hint" value="{{search}}">
                        <button type="submit" class="govuk-button govuk-button--secondary" role="button" data-module="govuk-button" aria-label="{{lang.search}}">
                            {{lang.search}}
                        </button>
                    </div>
            </form>
        {% endif %}

        {% if showNumOfMatches %}
            {% if numOfMatches == 0 %}
                <h2 class="govuk-heading-s">{{lang.no_results_found}} '{{search}}'</h2>
            {% elif numOfMatches == 1 %}
                <h2 class="govuk-heading-s">{{numOfMatches}} {{lang.match_found_for}} '{{search}}'</h2>
            {% else %}
                <h2 class="govuk-heading-s">{{numOfMatches}} {{lang.matches_found_for}} '{{search}}'</h2>
            {% endif %}
        {% endif %}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        {{ govukTable({
                    caption: lang.table_of_companies_you_are_digitally_autorised_to_file_for,
                    captionClasses: "govuk-table__caption--m govuk-visually-hidden",
                    firstCellIsHeader: true,
                    head: [
                        {
                            text: lang.company_name
                        },
                        {
                            text: lang.company_number
                        },
                        {
                            text: lang.people_digitally_authorised_to_file_online
                        }
                    ],
                    rows: rowsData
                })
            }}

        {% if pagination and pagination.items | length %}
            {{ govukPagination(pagination) }}
        {% endif %}

    </div>
</div>