{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "macros/link.njk" import link %}

{% set rowsData = [] %}
{% for elem in associationData %}
    {% set params = {
        companyNumber: elem.company_number
    } %}
    {% set visuallyHiddenText = elem.company_name %}
    {% set view_and_manage_link = link(lang.view_and_manage, visuallyHiddenText, viewAndManageUrl, "view-and-manage", params) %}
    {% set remove_link = link(lang.remove, visuallyHiddenText, removeCompanyUrl, "remove-company", params) %}

{% if elem.status == "confirmed" %}
    {% set rowElem = [
        { "text": elem.company_name, "classes": "govuk-!-width-one-quarter" },
        { "text": elem.company_number, "classes": "govuk-!-width-one-sixth" },
        { "html": '<strong class="govuk-tag govuk-tag--green">' +  lang.digitally_authorised + '</strong>', "classes": "govuk-!-width-one-eighth govuk-!-padding-right-3" },
        { "html": view_and_manage_link, "classes": "govuk-!-width-one-quarter govuk-!-padding-left-3" },
        { "html": remove_link, "classes": "govuk-!-width-one-sixth" }
    ] %}
{% endif %}

{% if elem.status == "migrated" %}
    {% set remove_not_restore = link(lang.remove_not_restore, visuallyHiddenText, removeCompanyUrl, "remove-company", params) %}
    {% set restore_link = link(lang.restore_digital_authorisation, visuallyHiddenText, restoreDigitalAuthUrl, "restore-digital-authorisation", params) %}

    {% set rowElem = [
        { "text": elem.company_name, "classes": "govuk-!-width-one-quarter" },
        { "text": elem.company_number, "classes": "govuk-!-width-one-sixth" },
        { "html": '<div class="govuk-!-padding-bottom-3"><strong class="govuk-tag govuk-tag--red">' +  lang.not_digitally_authorised + '</strong></div>' + restore_link, "classes": "govuk-!-width-one-eighth govuk-!-padding-right-3" },
        { "html": "", "classes": "govuk-!-width-one-quarter govuk-!-padding-left-3" },
        { "html": remove_not_restore, "classes": "govuk-!-width-one-sixth" }
    ] %}
{% endif %}


    {% set rowsData = rowsData.concat([rowElem]) %}
{% endfor %}

{% set message = null %}

{% for key, value in errors %}
    {% if key == "search" %}
        {% set message = lang[value.text] %}
    {% endif %}
{% endfor %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {{ govukButton({
                text: lang.add_a_company,
                href: buttonHref,
                attributes: {
                    id: "add-a-company-button",
                    "data-event-id": "add-a-company-button"
                }
            })
        }}

        {% if displaySearchForm %}
            {% set formClasses = "govuk-form-group govuk-form-group--error" if message else "govuk-form-group" %}
            {% set inputClasses = "govuk-input govuk-input--error govuk-input--width-10 govuk-!-margin-right-1" if message else "govuk-input govuk-input--width-10 govuk-!-margin-right-1" %}

            <form method="post">
                {% include "partials/csrf_token.njk" %}
                <div class="{{formClasses}}">
                    <label class="govuk-label govuk-label--m" for="search">
                        {{lang.search_for_a_company}}
                    </label>
                    <div id="event-name-hint" class="govuk-hint">
                        {{lang.enter_company_num}}
                    </div>
                    {% if message %}
                        {{ govukErrorMessage({
                            text: message
                        })
                    }}
                    {% endif %}
                    <div id="search-input-group">
                        <input class="{{inputClasses}}" id="search" name="search" type="text" aria-describedby="event-name-hint" value="{{search}}">
                        <button type="submit" class="govuk-button govuk-button--secondary" role="button" data-module="govuk-button" aria-label="{{lang.search}}" data-event-id="your-companies-search-for-company-button" id="your-companies-search-for-company-button">{{lang.search}}
                        </button>
                        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19  govuk-!-margin-left-2" href="{{cancelSearchHref}}" id="your-companies-cancel-search-link" data-event-id="your-companies-cancel-search-link">{{lang.cancel_search}}</a>
                    </div>
                </div>
            </form>
        {% endif %}

        {% if showNumOfMatches %}
            {% if numOfMatches == 0 %}
                <h2 class="govuk-heading-s">{{lang.no_results_found}} '{{search}}'</h2>
                <p class="govuk-body">{{lang.no_results_that_match}}</p>
            {% elif numOfMatches == 1 %}
                <h2 class="govuk-heading-s">{{numOfMatches}}
                    {{lang.match_found_for}} '{{search}}'</h2>
            {% else %}
                <h2 class="govuk-heading-s">{{numOfMatches}}
                    {{lang.matches_found_for}} '{{search}}'</h2>
            {% endif %}
        {% endif %}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        {% if numOfMatches > 0 %}
            {{ govukTable({
                 classes: "govuk-!-margin-bottom-9",
                    caption: lang.table_of_companies_you_are_digitally_autorised_to_file_for,
                    captionClasses: "govuk-table__caption--m govuk-visually-hidden",
                    firstCellIsHeader: true,
                      head: [
                        {
                            text: lang.company_name,
                            classes: "govuk-!-width-one-quarter"
                        },
                        {
                            text: lang.company_number,
                            classes: "govuk-!-width-one-sixth"
                        },
                        {
                            text: lang.authorisation_status,
                            classes: "govuk-!-width-one-eighth govuk-!-padding-right-3"
                        },
                        {
                            text: lang.people_digitally_authorised_to_file_online,
                            classes: "govuk-!-width-one-quarter govuk-!-padding-left-3"
                        },
                        {
                            text: lang.remove_digital_authorisation,
                            classes: "govuk-!-width-one-sixth"
                        }
                    ],
                    rows: rowsData
                })
            }}
        {% endif %}

        {% if pagination and pagination.items | length %}
            {{ govukPagination(pagination) }}
        {% endif %}

    </div>
</div>