{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "layouts/default.njk" %}

{% set title = lang.title_remove_company %}

{% block back_link %}
    {% include "partials/back_link.njk" %}
{% endblock %}

{% set message = null %}

{% for key, value in errors %}
    {% if["confirmRemoval", "generic"].includes(key) %}
    {% set message = {
        text: lang[value.text]
    } %}
    {% set title = lang.title_error + lang.title_remove_company %}
{% endif %}
{% endfor %}

{% block main_content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">{{ companyName }} ({{ companyNumber }})</span>
        <h1 class="govuk-heading-xl">
            {{ lang.are_you_sure_you_want_to_remove_company }}
        </h1>

        <form method="post">
            {% include "partials/csrf_token.njk" %}
            {{ govukRadios({
                    idPrefix: "confirm-removal",
                    name: "confirmRemoval",
                    errorMessage: message,
                    items: [
                        {
                            value: "yes",
                            text: lang.yes,
                            hint: {
                                text: lang.if_you_remove_this_company + ' ' + companyName + ' ' + lang.without_a_current_auth_code
                            },
                            attributes: {
                                "data-event-id": "yes-option"
                            }
                            
                        },
                        {
                            value: "no",
                            text: lang.no,
                            attributes: {
                                "data-event-id": "no-option"
                            }
                        }
                    ]
                })
            }}

            {{ govukButton({
                    text: lang.continue,
                    attributes: {
                        id: "submit",
                        "data-event-id": "confirm-selection-on-company-removal"
                    }
                })
            }}
        </form>
    </div>
</div>
{% endblock %}