{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "layouts/default.njk" %}

{% block back_link %}
    <div role="navigation" aria-label="{{lang.link_back_to_previous_page}}">
        {{ govukBackLink({text: lang.back_link, href: backLinkHref }) }}
    </div>
{% endblock %}

{% block main_content %}
    {% set user_details = userName if userName else userEmail %}
    {% set message = null %}

    {% for key, value in errors %}
        {% if key == "confirmRemoval" %}
            {% set message = {
                text: lang[value.text]
            } %}
        {% endif %}
    {% endfor %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">{{ companyName }}</span>
            <h1 class = "govuk-heading-xl">
                {{ lang.remove + user_details + lang.authorisation_to_file_online }}
            </h1>

            <p>{{ lang.if_you_remove + user_details + lang.digital_authorisation_this_means_they + companyName + lang.without_a_current_auth_code + user_details + lang.to_let_them_know_you_have_removed }}</p>
        
            {% set warning_text_html %}
                <p class="govuk-!-font-weight-bold">
                    {{ user_details + lang.will_still_be_able_to_file }}
                </p>
                <p class="govuk-!-font-weight-bold">
                    {{ lang.you_may_wish_to_change_the_auth_code + user_details + lang.digital_authorisation }}
                </p>
            {% endset %}

            {{
                govukWarningText({
                    html: warning_text_html,
                    iconFallbackText: lang.warning
                })
            }}

            <p>{{ lang.if + user_details + lang.is_appointed_as_an_officer }}</p>

            <form method = "post">
                {{ govukCheckboxes({
                        name: "confirmRemoval",

                        items: [{
                            value: "confirm",
                            text: lang.i_confirm_that_i_have_read
                        }],
                        errorMessage: message
                    }) 
                }}
                
                <div class="govuk-button-group">

                    {{ govukButton({
                        text: lang.remove_authorisation,
                        classes: "govuk-button--warning"
                    }) }}

                    <a class="govuk-link" href="{{ cancelLinkHref }}">{{ lang.cancel }}</a>

                </div>
            
            </form> 
      
      </div>
    </div>
{% endblock %}



