{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "layouts/default.njk" %}

{% set user_details = userName if userName else 
    userEmail %}
{% set title = lang.confirm_you_do_not_want + lang.title_end %}

{% block back_link %}
    {% include "partials/back_link.njk" %}
{% endblock %}

{% set message = null %}

{% for key, value in errors %}
    {% if key == "confirmRemoval" %}
        {% set message = {
            text: lang[value.text]
        } %}
        {% set title = lang.title_error + lang.confirm_you_do_not_want %}
    {% endif %}
{% endfor %}

{% block main_content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">{{ companyName }} ({{companyNumber}})</span>
            <h1 class = "govuk-heading-l">
                {{ lang.confirm_you_do_not_want + lang.for + user_details }}
            </h1>

            <p>{{ lang.this_means_that + user_details + lang.will_not_be_digitially_authorised + companyName + lang.well_email + user_details + lang.to_let_them_know }}</p>

            {% set warning_text_html %}
            
                <span class="govuk-!-display-block govuk-!-margin-bottom-5">
                    {{ lang.remove_person_summary_start + user_details + lang.will_still_be_able_to_file }}
                </span>
                <span class="govuk-!-display-block">
                    {{ lang.you_may_wish_to_change_the_auth_code_not_restore + user_details + lang.digital_authorisation }}
                </span>
        
            {% endset %}

            {{
                govukWarningText({
                    html: warning_text_html,
                    iconFallbackText: lang.warning,
                    classes: "govuk-!-margin-bottom-6"
                })
            }}

            <p>{{ lang.if + user_details + lang.is_appointed_as_an_officer_v2 }}</p>

            <form method = "post">
                {% include "partials/csrf_token.njk" %}
                {{ govukCheckboxes({
                        name: "confirmRemoval",

                        items: [{
                            value: "confirm",
                            text: lang.i_confirm_that_i_have_read,
                            attributes: {
                                "data-event-id": "confirm-read-checkbox"
                            }
                        }],
                        errorMessage: message
                    }) 
                }}

                <div class="govuk-button-group">

                    {{ govukButton({
                            text: lang.confirm,
                            classes: "govuk-button--warning",
                            attributes: {
                                "data-event-id": "remove-do-not-restore-confirm-button"
                            }
                        })
                    }}

                    <a class="govuk-link" href="{{ cancelLinkHref }}" data-event-id="cancel-do-not-restore-authorisation" id="cancel-link">{{ lang.cancel }}</a>

                </div>
            </form>
        </div>
    </div>

{% endblock %}