{# {% from "govuk/components/back-link/macro.njk" import govukBackLink %} #}

{% extends "layouts/default.njk" %}
{# 
{% block back_link %}

    <div role="navigation" aria-label="{{lang.link_back_to_previous_page}}">
        {{ govukBackLink({text: lang.back_to_your_companies, href: backLinkHref }) }}
    </div>

{% endblock %} #}

{% block main_content %}
    <h1>Hello World</h1>
{% endblock %}