{% extends "layouts/default.njk" %}

{% block main_content %}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">{{ lang.your_companies }}</h1>
    {% if userHasCompanies == "true" %}
        {% include "previously-added-companies.njk" %}
    {% else %}
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        {% include "no-companies-added.njk" %}
    {% endif %}

{% endblock %}