{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{
    govukFooter({
      meta: {
        items: [
          {
            href: "https://resources.companieshouse.gov.uk/serviceInformation.shtml",
            text: "Policies"
          },
          {
            href: "/help/cookies",
            text: "Cookies"
          },
          {
            href: "/help/contact-us",
            text: "Contact us"
          },
          {
            href: "/help/accessibility-statement",
            text: "Accessibility statement"
          },
          {
            href: "https://developer.company-information.service.gov.uk/",
            text: "Developers"
          }
        ],
        html: 'Built by <a href="https://www.gov.uk/government/organisations/companies-house" class="govuk-footer__link">Companies House</a>'
      }
    })
  }}

<script src="{{ cdnHost }}/javascripts/govuk-frontend/v4.6.0/govuk-frontend-4.6.0.min.js"></script>
{# <script src="{{ cdnHost }}/javascripts/app/cookie-consent/cookie-consent-1.0.0.js"></script>
<script src="{{ cdnHost }}/javascripts/app/cookie-consent/matomo-only-cookie-consent.js"></script> #}


<script src="{{ cdnHost }}/javascripts/vendor/jquery-3.3.1.min.js"></script>
<script>
    window
        .GOVUKFrontend
        .initAll()
</script>