{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% set content_html %}
    <span class="govuk-footer__licence-description">
        {{lang.all_content_is_available_under_footer}}
        <a class="govuk-footer__link" 
        href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" 
        rel="license">{{lang.open_gov_licence_footer}}</a>{{lang.except_where_otherwise_stated_footer}}
    </span>
{% endset %}

{% set meta_html%}
    <div class="govuk-footer__meta-custom">
          {{lang.built_by_footer}} <a href="https://www.gov.uk/government/organisations/companies-house" class="govuk-footer__link">{{lang.companies_house_footer}}</a>
        </div>
{% endset %}

{{
    govukFooter({
        attributes: {
            id: "footer"
        },
        meta: {
            items: [
                {
                    href: "https://resources.companieshouse.gov.uk/serviceInformation.shtml",
                    text: lang.policies_footer,
                    attributes: {
                        id: "footer-policies",
                        "data-event-id": "footer-policies-link"
                    }
                },
                {
                    href: "/help/cookies",
                    text: lang.cookies_footer,
                    attributes: {
                        id: "footer-cookies",
                        "data-event-id": "footer-cookies-link"
                    }
                },
                {
                    href: "/help/contact-us",
                    text: lang.contact_us_footer,
                    attributes: {
                        id: "footer-contact-us",
                        "data-event-id": "footer-contact-us-link"
                    }
                },
                {
                    href: "/help/accessibility-statement",
                    text: lang.accessibility_statement_footer,
                    attributes: {
                        id: "footer-accessibility-statement",
                        "data-event-id": "footer-accessibility-statement-link"
                    }
                },
                {
                    href: "https://developer.company-information.service.gov.uk/",
                    text: lang.developers_footer,
                    attributes: {
                        id: "footer-developers",
                        "data-event-id": "footer-developers-link"
                    }
                }
            ],
            html: meta_html,
            visuallyHiddenTitle: lang.support_links
        },
        contentLicence:{
            html: content_html
        },
        copyright:{
            text: lang.crown_copyright_footer
        }
    })
}}

<script nonce={{ nonce | dump | safe }} type="application/javascript">
    window.SERVICE_NAME = '{{ serviceName }}';
    window.PIWIK_URL = '{{ piwikUrl }}';
    window.PIWIK_SITE_ID = '{{ piwikSiteId }}';
</script>
<div id="templateName" data-id='{{templateName}}' hidden></div>
<script src="{{ cdnHost }}/javascripts/app/piwik-enable.js"></script>
<script type="module" src="{{ cdnUrlJs }}/govuk-frontend.min.js"></script>
<script src="{{ cdnHost }}/javascripts/app/cookie-consent/cookie-consent-1.0.0.js"></script>
<script src="{{ cdnHost }}/javascripts/app/cookie-consent/matomo-only-cookie-consent.js"></script>
<script src="{{ cdnHost }}/javascripts/vendor/jquery-3.5.1.min.js"></script>
<script nonce={{ nonce | dump | safe }}>
    $(document).ready(function () {
        $("ul#navigation").addClass('mobile-hidden');
        $(".js-toggle-nav .js-header-toggle").click(function () {
            event.preventDefault();
            $("ul#navigation").toggleClass('mobile-hidden');
            $("#global-nav").toggleClass('open');
        });
    });
</script>
<noscript>
    <p>
        <img src="{{piwikUrl}}/piwik.php?idsite={{piwikSiteId}}" style="border:0;" alt="" />
    </p>
</noscript>
<script nonce={{ nonce | dump | safe }} type="module">
    import {initAll} from "{{ cdnUrlJs }}/govuk-frontend.min.js"
    initAll()
</script>