{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{
    govukFooter({
        attributes: {
            id: "footer"
        },
        meta: {
            items: [
                {
                    href: "https://resources.companieshouse.gov.uk/serviceInformation.shtml",
                    text: "Policies",
                    attributes: {
                        id: "footer-policies"
                    }
                },
                {
                    href: "/help/cookies",
                    text: "Cookies",
                    attributes: {
                        id: "footer-cookies"
                    }
                },
                {
                    href: "/help/contact-us",
                    text: "Contact us",
                    attributes: {
                        id: "footer-contact-us"
                    }
                },
                {
                    href: "/help/accessibility-statement",
                    text: "Accessibility statement",
                    attributes: {
                        id: "footer-accessibility-statement"
                    }
                },
                {
                    href: "https://developer.company-information.service.gov.uk/",
                    text: "Developers",
                    attributes: {
                        id: "footer-developers"
                    }
                }
            ],
            html: 'Built by <a href="https://www.gov.uk/government/organisations/companies-house" class="govuk-footer__link">Companies House</a>'
        }
    })
}}

<script type="application/javascript">
    window.SERVICE_NAME = '{{ serviceName }}';
    window.PIWIK_URL = '{{ piwikUrl }}';
    window.PIWIK_SITE_ID = '{{ piwikSiteId }}';
</script>
<script type="module" src="{{ cdnUrlJs }}/govuk-frontend.min.js"></script>
<script src="{{ cdnHost }}/javascripts/app/cookie-consent/cookie-consent-1.0.0.js"></script>
<script src="{{ cdnHost }}/javascripts/app/cookie-consent/matomo-only-cookie-consent.js"></script>
<script src="{{ cdnHost }}/javascripts/vendor/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("ul#navigation").addClass('mobile-hidden');
        $(".js-toggle-nav .js-header-toggle").click(function () {
            event.preventDefault();
            $("ul#navigation").toggleClass('mobile-hidden');
            $("#global-nav").toggleClass('open');
        });
    });
</script>
<script>
    import {initAll} from "{{ cdnUrlJs }}/govuk-frontend.min.js"
    initAll()
</script>