{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
        homepageUrl: "https://www.gov.uk/",
        serviceName: t("common.serviceName"),
        serviceUrl: "/"
        })
    }}
</div>