<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <title>{{ lang.title if lang.title else title }}</title>
    <!--[if !IE 8]><!-->
    <link href="{{ cdnUrlCss }}/app.min.v5.4.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ cdnHost }}/stylesheets/ch.gov.uk.css" rel="stylesheet"/>
    <!--<![endif]-->
    <link href="{{ cdnHost }}/images/favicon.ico" rel="icon" type="image/x-icon"/>
    {% include "partials/__styles.njk" %}
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    {# Set the page object to hold values exported from server to JS files #}
    <script>
        var page = page || {};
    </script>
    {% include "partials/matomo-script.njk" %}
</head>