<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <link href="{{ cdnUrlCss }}/app.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ cdnHost }}/images/favicon.ico" rel="icon" type="image/x-icon"/>
    {% include "partials/__styles.njk" %}
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    {# Set the page object to hold values exported from server to JS files #}
    <script>
        var page = page || {};
    </script>
</head>