{% from "govuk/components/cookie-banner/macro.njk"  import govukCookieBanner %}

{% set html %}
<p>{{t("common.we_use_essential_cookies")}}</p>
<p>{{t("common.use_analytics")}}</p>
{% endset %}

{% set acceptHtml %}
<p>{{t("common.you_accepted")}} <a class="govuk-link" href="{{ chsUrl }}/help/cookies">{{t("common.change_your_cookie_settings")}}</a> {{t("common.at_any_time")}}</p>
{% endset %}

{% set rejectHtml %}
<p>{{t("common.you_rejected")}} <a class="govuk-link" href="{{ chsUrl }}/help/cookies">{{t("common.change_your_cookie_settings")}}</a> {{t("common.at_any_time")}}</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: "Cookies on Companies House services",
  attributes: {
    id: "cookie-banner"
  },
  hidden: true,
  messages: [
    {
      headingText: t("common.cookies_on_companies_house_services"),
      attributes: {
      id: "accept-or-reject-message"
    },
      hidden: true,
      html: html,
      actions: [
      {
        text: t("common.accept_analytics"),
        type: "button",
        name: "cookies",
        value: "accept",
        attributes: {
        id: "accept-cookies-button"
      }
      },
      {
        text: t("common.reject_analytics"),
        type: "button",
        name: "cookies",
        value: "reject",
        attributes: {
        id: "reject-cookies-button"
      }
      },
      {
        text: t("common.view_cookies"),
        href: chsUrl + "/help/cookies"
      }
    ]
    },
    {
      html: acceptHtml,
      role: "alert",
      attributes: {
      id: "accepted-cookies-message"
    },
      hidden: true,
      actions: [
      {
        text: t("common.hide_this_message"),
        type: "button",
        name: "hide",
        value: "hide",
        attributes: {
        id: "hide-accepted-message-button"
      }
      }
    ]
    },
    {
      html: rejectHtml,
      role: "alert",
      attributes: {
      id: "rejected-cookies-message"
    },
      hidden: true,
      actions: [
      {
        text: t("common.hide_this_message"),
        type: "button",
        name: "hide",
        value: "hide",
        attributes: {
        id: "hide-rejected-message-button"
      }
      }
    ]
    }
  ]
}) }}

<noscript>
    {{ govukCookieBanner({
    ariaLabel: "Cookies on Companies House services",
    messages: [
      {
        headingText: t("common.cookies_on_companies_house_services"),
        text: t("common.cookie_banner_message_text")
      }
    ]
  }) }}
</noscript>