{% from "govuk/components/cookie-banner/macro.njk"  import govukCookieBanner %}

{% set html %}
<p>{{weUseEssentialCookies}}</p>
<p>{{useAnalytics}}</p>
{% endset %}

{% set acceptHtml %}
<p>{{youAccepted}}<a class="govuk-link" href="{{ chsUrl }}/help/cookies">{{changeYourCookieSettings}}</a>{{atAnyTime}}</p>
{% endset %}

{% set rejectHtml %}
<p>{{youRejected}}<a class="govuk-link" href="{{ chsUrl }}/help/cookies">{{changeYourCookieSettings}}</a>{{atAnyTime}}</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: "Cookies on Companies House services",
  attributes: {
    id: "cookie-banner"
  },
  hidden: true,
  messages: [
    {
      headingText: cookiesOnCompaniesHouseServices,
      attributes: {
      id: "accept-or-reject-message"
    },
      hidden: true,
      html: html,
      actions: [
      {
        text: acceptAnalytics,
        type: "button",
        name: "cookies",
        value: "accept",
        attributes: {
        id: "accept-cookies-button"
      }
      },
      {
        text: rejectAnalytics,
        type: "button",
        name: "cookies",
        value: "reject",
        attributes: {
        id: "reject-cookies-button"
      }
      },
      {
        text: viewCookies,
        href: chsUrl + "/help/cookies"
      }
    ]
    },
    {
      html: acceptHtml,
      role: "alert",
      attributes: {
      id: "accepted-cookies-message"
    },
      hidden: true,
      actions: [
      {
        text: hideThisMessage,
        type: "button",
        name: "hide",
        value: "hide",
        attributes: {
        id: "hide-accepted-message-button"
      }
      }
    ]
    },
    {
      html: rejectHtml,
      role: "alert",
      attributes: {
      id: "rejected-cookies-message"
    },
      hidden: true,
      actions: [
      {
        text: hideThisMessage,
        type: "button",
        name: "hide",
        value: "hide",
        attributes: {
        id: "hide-rejected-message-button"
      }
      }
    ]
    }
  ]
}) }}

<noscript>
    {{ govukCookieBanner({
    ariaLabel: "Cookies on Companies House services",
    messages: [
      {
        headingText: cookiesOnCompaniesHouseServices,
        text: cookieBannerMessageText
      }
    ]
  }) }}
</noscript>