{% from "govuk/components/cookie-banner/macro.njk"  import govukCookieBanner %}

{% set html %}
  <p>{{ lang.we_use_essential_cookies }}</p>
  <p>{{ lang.we_use_analytics_cookies }}</p>
{% endset %}

{% set acceptHtml %}
  <p>{{ lang.accepted_analytics_cookies }} {{ lang.you_can }} <a class="govuk-link" href="{{ chsUrl }}/help/cookies">{{ lang.change_cookie_settings }}</a> {{ lang.at_any_time }}</p>
{% endset %}

{% set rejectHtml %}
  <p>{{ lang.rejected_analytics_cookies }} {{ lang.you_can }} <a class="govuk-link" href="{{ chsUrl }}/help/cookies">{{ lang.change_cookie_settings }}</a> {{ lang.at_any_time }}</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: lang.cookies_on_companies_house_services,
  attributes: {
    id: "cookie-banner"
  },
  hidden: true,
  messages: [
    {
      headingText: lang.cookies_on_companies_house_services,
      attributes: {
      id: "accept-or-reject-message"
    },
      hidden: true,
      html: html,
      actions: [
      {
        text: lang.accept_analytics_cookies,
        type: "button",
        name: "cookies",
        value: "accept",
        attributes: {
        id: "accept-cookies-button"
      }
      },
      {
        text: lang.reject_analytics_cookies,
        type: "button",
        name: "cookies",
        value: "reject",
        attributes: {
        id: "reject-cookies-button"
      }
      },
      {
        text: lang.view_cookies,
        href: chsUrl + "/help/cookies"
      }
    ]
    },
    {
      html: acceptHtml,
      role: "alert",
      attributes: {
      id: "accepted-cookies-message"
    },
      hidden: true,
      actions: [
      {
        text: lang.hide_this_message,
        type: "button",
        name: "hide",
        value: "hide",
        attributes: {
        id: "hide-accepted-message-button"
      }
      }
    ]
    },
    {
      html: rejectHtml,
      role: "alert",
      attributes: {
      id: "rejected-cookies-message"
    },
      hidden: true,
      actions: [
      {
        text: lang.hide_this_message,
        type: "button",
        name: "hide",
        value: "hide",
        attributes: {
        id: "hide-rejected-message-button"
      }
      }
    ]
    }
  ]
}) }}

<noscript>
  {{ govukCookieBanner({
    ariaLabel: lang.cookies_on_companies_house_services,
    messages: [
      {
        headingText: lang.cookies_on_companies_house_services,
        text: lang.noscript_cookie_message
      }
    ]
  }) }}
</noscript>