<div id="chs-customer-insights" role="navigation" aria-label="{{lang.customer_insights}}">
    <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/getcompanyinformation/" target="_blank" onclick="_paq.push(['trackEvent', 'Beta', 'Feedback']);">Tell us what you think of this service<span class="govuk-visually-hidden">(link opens a new window)</span></a>
    <a id="feedback-link" class="govuk-link secondary-customer-insights" target="_blank" href="/help/feedback?sourceurl={{ chsUrl }}{{ feedbackSource }}">Is there anything wrong with this page?<span class="govuk-visually-hidden">(link opens a new window)</span></a>
</div>