<div id="chs-customer-insights" role="navigation" aria-label="{{lang.customer_insights}}">
    <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/companieshouseaccountfeedback/" target="_blank">{{lang.tell_us_what_you_think_of_this_service}}<span class="govuk-visually-hidden">(link opens a new window)</span></a>
    <a id="feedback-link" class="govuk-link secondary-customer-insights" target="_blank" href="/help/feedback?sourceurl={{ chsUrl }}{{ feedbackSource }}">{{lang.is_there_anything_wrong_with_this_page}}<span class="govuk-visually-hidden">(link opens a new window)</span></a>
</div>