{% extends "layouts/shell.njk" %}

{% block main_content %}

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            Internal server error
        </h1>
        <pre class="govuk-!-margin-top-8">Status code: 500</pre>
    </div>

{% endblock %}
