{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% if errors is not undefined and errors is not null and errors | length %}
    {% set errorList = [] %}
    {% if errors.serverError is not undefined %}
        {% set errorList = (errorList.push({text: errors.serverError.summary}), errorList) %}
    {% else %}
        {% for key, value in errors %}
            {% set href = ["#", key] | join %}
            {% set errorList = (errorList.push({
                text: lang[value.text],
                href: href
            }), errorList) %}
        {% endfor %}
    {% endif %}

    {{ govukErrorSummary({
        titleText: lang.there_is_a_problem,
        errorList: errorList
        })
    }}
{% endif %}