{% extends "layouts/shell.njk" %}

{% set title = lang.title_csrf if csrfErrors else 
    lang.title_other %}

{% block main_content %}

    <div class="govuk-grid-column-two-thirds">
        {% if csrfErrors %}
            <h1 class="govuk-heading-l">{{lang.sorry_something_went_wrong}}</h1>

            <p class="govuk-body">{{lang.we_have_not_been_able_to_save}}</p>

            <p class="govuk-body">{{lang.try_the_following}}</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>{{lang.use_the_back_link}}</li>
                <li>{{lang.sign_out_of_the_service}}</li>
            </ul>

            <p class="govuk-body">{{lang.if_the_problem_continues}}
                <a href="https://www.gov.uk/contact-companies-house">{{lang.contact_us_link}}</a>
                {{lang.for_help}}
            </p>
        {% else %}
            <h1 class="govuk-heading-xl">{{lang.page_header}}</h1>
            <p class="govuk-body">{{lang.try_again_later}}</p>
            <p class="govuk-body">
                <a class="govuk-link" href="https://www.gov.uk/contact-companies-house">{{lang.contact_companies_house}}</a>{{lang.if_you_have_questions}}
            </p>
        {% endif %}
    </div>

{% endblock %}