{% extends "layouts/shell.njk" %}

{% block main_content %}

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{lang.page_header}}</h1>
        <p class="govuk-body">{{lang.try_again_later}}</p>
        <p class="govuk-body">
            <a class="govuk-link" href="https://www.gov.uk/contact-companies-house">{{lang.contact_companies_house}}</a>{{lang.if_you_have_questions}}
        </p>
    </div>

{% endblock %}