{% extends "layouts/shell.njk" %}

{% block main_content %}

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">Try again later.</p>
        <p class="govuk-body">
            <a class="govuk-link" href="https://www.gov.uk/contact-companies-house">Contact Companies House</a> if you have any questions.
        </p>
    </div>

{% endblock %}