<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[(if gt IE 8) | (!IE)]><!--><html lang="en" class="govuk-template"><!--<![endif]-->

  {% include "partials/__meta_header.njk" %}

  <body class="govuk-template__body" >

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
{#    {% include "partials/cookie_consent_banner.njk" %}#}
    <a href="#main-page-content" class="govuk-skip-link">Skip to main content</a>
    {% include "partials/__header.njk" %}

    <div class="govuk-width-container ">

      <main class="govuk-main-wrapper " id="main-content">

        <div class="govuk-grid-row">
          {% include "partials/error_summary.njk" %}
          <div class="govuk-grid-column-one-third">
            {% include "partials/nav/left.njk" %}
          </div>
          <div class="govuk-grid-column-two-thirds" id="main-page-content">
            {% block main_content %}
            {% endblock %}
          </div>
        </div>

      </main>
    </div>

    {% include "partials/__footer.njk" %}

  </body>
</html>
