<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[(if gt IE 8) | (!IE)]><!-->
<html lang={{locale}} class="govuk-template">
    <!--<![endif]-->

    {% include "partials/__meta_header.njk" %}

    <body class="govuk-template__body" >
        <script nonce={{ nonce | dump | safe }}>
            document.body.className += ' js-enabled' + (
                'noModule' in HTMLScriptElement.prototype
                ? ' govuk-frontend-supported'
                : '');

    function trackGoal(elementId, goalId) {
        document
            .getElementById(elementId)
            .addEventListener("click", () => {
                _paq.push(["trackGoal", goalId]);
            });
    }
        </script>
        {% include "partials/cookie_consent_banner.njk" %}
        <div role="navigation" aria-label="{{lang.skip_to_main_content}}">
            <a href="#main-page-content" class="govuk-skip-link">Skip to main content</a>
        </div>
        {% include "partials/__header.njk" %}

        <div class="govuk-width-container ">
            {% include "partials/nav/top.njk" %}
            {% block back_link %}{% endblock %}
            <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
                <div class="govuk-grid-row">
                    {% include "partials/error_summary.njk" %}
                    <div class="govuk-grid-column-full" id="main-page-content">
                        {% block main_content %}{% endblock %}
                    </div>
                </div>
            </main>
        </div>

        {% include "partials/customer_insights.njk" %}
        <div class="blue-footer-border"></div>
        {% include "partials/__footer.njk" %}

    </body>
</html>