<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[(if gt IE 8) | (!IE)]><!-->
<html lang="en" class="govuk-template">
    <!--<![endif]-->

    {% include "partials/__meta_header.njk" %}

    <body class="govuk-template__body" >
        <script>
            document.body.className = (
                (document.body.className)
                ? document.body.className + ' js-enabled'
                : 'js-enabled');
        </script>
        {% include "partials/cookie_consent_banner.njk" %}
        <div role="navigation" aria-label="skip to main content">
            <a href="#main-page-content" class="govuk-skip-link">Skip to main content</a>
        </div>
        {% include "partials/__header.njk" %}

        <div class="govuk-width-container ">
            {% include "partials/nav/top.njk" %}
            {% block back_link %}{% endblock %}
            <main role="main" class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
                <div class="govuk-grid-row">
                    {% include "partials/error_summary.njk" %}
                    <div class="govuk-grid-column-full" id="main-page-content">
                        {% block main_content %}{% endblock %}
                    </div>
                </div>
            </main>
        </div>

        {% include "partials/customer_insights.njk" %}
        <div class="blue-footer-border"></div>
        <footer role="contentinfo">
            {% include "partials/__footer.njk" %}
        </footer>

    </body>
</html>