.app-subnav__section {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
}

.app-subnav__link {
  display: block;
  padding: 8px 30px 8px 10px;
  border-left: 4px solid transparent;
  text-decoration: none;
}

.app-subnav__link:focus {
  background: inherit;
}

.app-subnav__link:active,
.app-subnav__link:hover,
.app-subnav__link:visited {
  color: #005ea5;
}

.app-subnav__link:hover {
  border-left-color: #2b8cc4;
}

.app-subnav__section-item--current {
  .app-subnav__link {
    border-left-color: #005ea5;
    background: #f8f8f8;
    font-weight: bold;
  }
}

.app-subnav__section--nested {
  margin-bottom: 0;
  .app-subnav__link {
    padding-left: 20px;
    font-weight: 400;
  }
}

.app-subnav__theme {
  margin: 0;
  padding: 10px 15px;
  color: #6f777b;
  font-family: 'nta',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25;
}
